<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trip or Travel</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="style.css?ver=1" />
  <script src="main.js"></script>
  <!-- Google Map  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlc1cmKgefcHGoKjAL5FUUjXGrAlRvwN0&callback=initMap&v=weekly"
    async
  ></script>
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <div class="header">
    <div class="nav">
      <span class="nav-title">Trip or Travel</span>
      <span class="nav-subheading">여행을 가거나! 여행을 떠나거나! <br> 여행 기록 일지</span>
    </div>
    <button class="post-button">Trip</button>
  </div>
  <!-- Content -->
  <div class="content">
    <!-- Posting box -->
    <div class="post-box">
      <input class="card-writer"></input>
      <input class="card-title"></input>
      <input class="card-trip-date"></input>
      <input class="card-trip-place"></input>
      <div class="card-upload-button"></div>
      <textarea class="card-trip-content"></textarea>
      <button class="save-button"></button>
    </div>
    <!-- Google Map -->
    <div id="map"></div>
    <!-- Card box -->
    <div class="cards-box">
      <div class="card">
        <img class="card-img">
        <span class="card-writer"></span>
        <span class="card-title"></span>
        <span class="card-write-date"></span>
        <span class="card-trip-date"></span>
        <span class="card-trip-place"></span>
        <span class="card-trip-content"></span>
      </div>
    </div>
  </div>
</body>
</html>