<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trip or Travel</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="main.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlc1cmKgefcHGoKjAL5FUUjXGrAlRvwN0&callback=initMap&v=weekly"
    async
  ></script>
</head>
<body>
  <div clas="header">
    <div class="post-button"></div>
  </div>
  <div class="post-box"></div>
  <div class="cards-box">
    <div class="card">
      <img class="card-img">
      <span class="writer"></span>
      <span class="title"></span>
      <span class="write-date"></span>
      <span class="trip-date"></span>
      <span class="trip-place"></span>
      <div class="upload-button"></div>
      <span class="trip-content"></span>
      <button class="save-button"></button>
    </div>
  </div>
  <div id="map"></div>
</body>
</html>