<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Trip or Travel</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="style.css?ver=1" />
  <script defer src="main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Google Map  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlc1cmKgefcHGoKjAL5FUUjXGrAlRvwN0&callback=initMap&v=weekly"
    async
  ></script>
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <div class="header">
    <div class="nav">
      <span class="nav-title">Trip or Travel</span>
      <span class="nav-subheading">여행을 가거나! 여행을 떠나거나!</span>
    </div>
    <button onclick="openClose()" class="post-button">Trip</button>
  </div>
  <!-- Content -->
  <div class="content">
    <!-- Posting box -->
    <div id="posting-box" class="post-box" style="display: none">
      <div class="post-css">
        <div class="post">
          <label for="post-writer">작성자</label>
          <input id="post-writer" class="card-writer" type="text" maxlength="10" size="20" required>
        </div>
        <div class="post">
          <label for="post-title">제목</label>
          <input id="post-title" class="card-title" type="text" maxlength="10" size="20" required>
        </div>
        <div class="post">
          <label for="card-trip-date">여행 날짜</label>
          <input id="post-trip-date" class="card-trip-date" type="date">
        </div>
        <div class="post">
          <label for="card-trip-place">여행장소</label>
          <input id="post-trip-place" class="card-trip-place">
        </div>
        <div class="post">
          <label class="card-upload-button">사진 업로드</label>
          <input id="post-img" type="file" accept="image/*">
        </div>
        </label>
        <div class="post">
          <label for="card-trip-content">내용</label>
          <textarea id="post-trip-content" class="card-trip-content"></textarea>
        </div>
        <button class="save-button"></button>
      </div>
    </div>
    <!-- Google Map -->
    <div id="map"></div>
    <!-- Card box -->
    <div class="cards-box">
      <div class="card">
        <img class="card-img">
        <span class="card-writer"></span>
        <span class="card-title"></span>
        <span class="card-write-date"></span>
        <span class="card-trip-date"></span>
        <span class="card-trip-place"></span>
        <span class="card-trip-content"></span>
      </div>
    </div>
  </div>
</body>
</html>