:root {
  /* color */

  /* font size */
  --font-title: 25px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gowun Batang", serif;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.header .post-button {
  width: 70px;
  height: 30px;
}

.custom-shape-divider-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 103px;
  transform: rotateY(180deg);
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

/* Google Map */
#map {
  width: 500px;
  height: 500px;
  margin: 50px;
  padding: 0;
}
