:root {
  /* color */

  /* font size */
  --font-title: 25px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gowun Batang", serif;
  background-image: url("../static/wave_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px;
}

.header .post-button {
  width: 70px;
  height: 30px;
}

/* Google Map */
#map {
  width: 500px;
  height: 500px;
  margin: 50px;
  padding: 0;
}
